<h2
  class="move"
  [innerText]="
    boardService.colorToMove === 'WHITE' ? 'White move' : 'Black move'
  "
></h2>
<div class="container">
  <div *ngFor="let rank of ranks; let i = index" class="rank">
    <div *ngFor="let file of files; let j = index" class="file">
      <div
        class="cell"
        [ngStyle]="{
          'background-color': cellBg([i, j], rank, file)
        }"
        (click)="moveHereSelectedPiece(rank, file)"
      >
        <app-piece
          *ngIf="getPiece(rank, file)"
          [piece]="getPiece(rank, file)"
        ></app-piece>
      </div>
    </div>
  </div>
</div>
