.move {
  text-align: center;
  margin: 0;
  font-size: 45px;
}

.container {
  display: block;
  margin: 0 auto;
  width: 640px;


  .rank {
    display: flex;
  }

  .file {
    display: flex;
  }

  .cell {
    background-color: #737373;
    width: 80px;
    height: 80px;
    color: #000000;
  }
}